### 1. Create a file ages.txt containing at least 3 numbers separated by commas.

```bash
touch ages.txt
echo '56.3,34.7,57.5,89.2,90.9' > ages.txt
```

### 2. Read the first n numbers from ages.txt into a list ages. In case the file

In [6]:
n = int(input("Enter n: "))
print(f"n = {n}")
with open("ages.txt", "r") as f:
    content = f.read()
    allData = [float(x) for x in content.split(",")]
    if n > len(allData):
        print("elements in file less than n")
    else:
        ages = allData[:n]
        print(ages)

n = 4
[12.3, 14.7, 11.5, 13.2]

### 3. Round the numbers to the lowest integer and modify the list ages.

In [7]:
import math
ages = [math.floor(x) for x in ages]
print(ages)

[12, 14, 11, 13]

### 4. Create a file scores.csv with the following data:

```csv
Name,Score
Andrew,88.3
Ben,92.6
Carol,89.7
```

### 5. Read data from scores.csv into a dictionary dic.

In [8]:
people = {'name': [], 'score': []}
with open('scores.csv', 'r') as f:
    lines = f.readlines()[1:]   # skip first line
    for line in lines:
        [name, score] = line.strip().split(',')
        people['name'].append(name)
        people['score'].append(float(score))

print(people)

{'name': ['Andrew', 'Ben', 'Carol'], 'score': [88.3, 92.6, 89.7]}

### 6. Add the list ages into dic as a new column after the column Name.

In [19]:
people['age'] = []
for i in range(min(len(ages), len(people['name']))):
    people['age'].append(ages[i])
# order keys in dictionary 
people  = {
    'name': people['name'],
    'age': people['age'],
    'score': people['score'],
    }
print(people)

{'name': ['Andrew', 'Ben', 'Carol'], 'age': [12, 14, 11], 'score': [88.3, 92.6, 89.7]}

### 7. Convert the dictionary into a data frame df. Print the data frame.

In [10]:
import pandas as pd
df = pd.DataFrame(people)
print(df)

     name  age  score
0  Andrew   12   88.3
1     Ben   14   92.6
2   Carol   11   89.7

### 8. Select the column ages and find the maximum value. Print the result.

In [11]:
df["score"].max()

np.float64(92.6)

### 9. Append a new row to df:

```csv
Daniel,10,78.
```

In [12]:
column = 'Daniel,10,78'
[name, age, score] = column.split(',')
df.loc[len(df)] = [name, int(age), float(score)]
print(df)

     name  age  score
0  Andrew   12   88.3
1     Ben   14   92.6
2   Carol   11   89.7
3  Daniel   10   78.0

### 10. Modify the Score value in the second row (Ben,15,92.6) by applying a deduction p

In [13]:
p = float(input("Enter deduction p: "))
df.loc[1, 'score'] = df.loc[1, 'score'] - p
print(df)

     name  age  score
0  Andrew   12   88.3
1     Ben   14   91.1
2   Carol   11   89.7
3  Daniel   10   78.0

### 11.Round the values in the Score column to the upper half-point.

```txt
For example, 2.3 is rounded to 2.5
 2.6 is rounded to 3
 2 is rounded to 2
 2.5 is rounded to 2.5.
```

In [14]:
import numpy as np
df['score'] = np.ceil(df["score"] * 2) / 2
print(df)

     name  age  score
0  Andrew   12   88.5
1     Ben   14   91.5
2   Carol   11   90.0
3  Daniel   10   78.0

### 12.Find the mean and median scores in df. Print the updated data frame, mean and median scores.

In [15]:
mean = df['score'].mean()
median = df['score'].median()
print(f"Mean: {mean}, Median: {median}")

Mean: 87.0, Median: 89.25

### 13.Create a new data frame `df_filtered` containing only rows with ages between 12 and 15, inclusive. Print `df_filtered`.

In [16]:
df_filtered = df[(df['age'] >= 12) & (df['age'] <= 15)]
print(df_filtered)

     name  age  score
0  Andrew   12   88.5
1     Ben   14   91.5

### 14. Find the mean and median scores in df_filtered

In [17]:
print(df_filtered['score'].mean())

90.0